@font-face {
    font-family: starWars;
    src: url(../fonts/Starjedi.ttf);
}

h1 {
    font-family: starWars;
}

body {
    background-image: url(../images/stars.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .card {
        margin: auto;
        width: 65%;
    }
}